In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
m = pd.read_csv("../../data/processed/processed_2.csv")

m

                     영화명          감독  ...        등급     영화구분
0                     명량         김한민  ...  15세이상관람가     일반영화
1                   극한직업         이병헌  ...  15세이상관람가     일반영화
2              신과함께-죄와 벌         김용화  ...  12세이상관람가     일반영화
3                   국제시장         윤제균  ...  12세이상관람가     일반영화
4             어벤져스: 엔드게임  안소니 루소조 루소  ...  12세이상관람가     일반영화
...                  ...         ...  ...       ...      ...
3970           늑대와 빨간 재킷      뱅상 파로노  ...   청소년관람불가  독립/예술영화
3971      마라가 큰 결정을 해야 해     로버트 루케틱  ...  15세이상관람가     일반영화
3972            락다운 213주      아담 메이슨  ...  15세이상관람가     일반영화
3973      래미의 드래곤월드 구출작전       웨이밍 황  ...     전체관람가     일반영화
3974  블루 서멀 같은 하늘을 보고 싶어    타치바나 마사키  ...     전체관람가  독립/예술영화

[3975 rows x 14 columns]

In [3]:
m.isna().sum()

영화명           0
감독            3
제작사        1643
배급사           0
개봉일           0
국적            0
전국 스크린수       0
전국 매출액        0
전국 관객수        0
서울 매출액        0
서울 관객수        0
장르            0
등급            0
영화구분          0
dtype: int64

In [4]:
# 감독, 제작사 결측치 제거
m = m.dropna(subset=["감독", "제작사"])

m

             영화명          감독  ...        등급     영화구분
0             명량         김한민  ...  15세이상관람가     일반영화
1           극한직업         이병헌  ...  15세이상관람가     일반영화
2      신과함께-죄와 벌         김용화  ...  12세이상관람가     일반영화
3           국제시장         윤제균  ...  12세이상관람가     일반영화
4     어벤져스: 엔드게임  안소니 루소조 루소  ...  12세이상관람가     일반영화
...          ...         ...  ...       ...      ...
3956        코드 8        제프 챈  ...  15세이상관람가     일반영화
3959     레이징 파이어         진목승  ...  15세이상관람가  독립/예술영화
3963    섀도우 클라우드      로젠느 리앙  ...  15세이상관람가     일반영화
3965    그녀의 비밀정원         김인식  ...  15세이상관람가  독립/예술영화
3972    락다운 213주      아담 메이슨  ...  15세이상관람가     일반영화

[2329 rows x 14 columns]

In [5]:
# 감독별 전국 관객수 로그 변환 평균값 계산
director_groupby = m.groupby("감독")["전국 관객수"].apply(lambda x: np.log1p(x).mean())
# 제작사별 전국 관객수 로그 변환 평균값 계산
producer_groupby = m.groupby("제작사")["전국 관객수"].apply(lambda x: np.log1p(x).mean())
# 배급사별 전국 관객수 로그 변환 평균값 계산
distributor_groupby = m.groupby("배급사")["전국 관객수"].apply(lambda x: np.log1p(x).mean())

# 각 값을 변환
m["감독"] = m["감독"].map(director_groupby)
m["제작사"] = m["제작사"].map(producer_groupby)
m["배급사"] = m["배급사"].map(distributor_groupby)

m

C:\Users\lbw\AppData\Local\Temp\ipykernel_26604\4283574835.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["감독"] = m["감독"].map(director_groupby)
C:\Users\lbw\AppData\Local\Temp\ipykernel_26604\4283574835.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["제작사"] = m["제작사"].map(producer_groupby)
C:\Users\lbw\AppData\Local\Temp\ipykernel_26604\4283574835.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["배급사"] = m["배급사"].map(distributor_groupby)

             영화명         감독        제작사  ...   장르        등급     영화구분
0             명량  14.306190  12.886638  ...   사극  15세이상관람가     일반영화
1           극한직업  15.172542  16.604523  ...  코미디  15세이상관람가     일반영화
2      신과함께-죄와 벌  15.714698  16.402393  ...  판타지  12세이상관람가     일반영화
3           국제시장  15.908342  15.263750  ...  드라마  12세이상관람가     일반영화
4     어벤져스: 엔드게임  14.740589  15.240150  ...   액션  12세이상관람가     일반영화
...          ...        ...        ...  ...  ...       ...      ...
3956        코드 8   7.217443   7.217443  ...   SF  15세이상관람가     일반영화
3959     레이징 파이어   7.205635   7.205635  ...   액션  15세이상관람가  독립/예술영화
3963    섀도우 클라우드   7.156956   8.649415  ...   SF  15세이상관람가     일반영화
3965    그녀의 비밀정원   7.770353   7.134891  ...  드라마  15세이상관람가  독립/예술영화
3972    락다운 213주   6.740519  11.194093  ...  스릴러  15세이상관람가     일반영화

[2329 rows x 14 columns]

In [6]:
# 개봉일에서 개봉월만 추출
m["개봉월"] = m["개봉일"].apply(lambda x: x.split("-")[1])

# 영화명, 개봉일 컬럼 삭제
m = m.drop(["영화명", "개봉일", "전국 매출액", "서울 매출액", "서울 관객수"], axis=1)

m

C:\Users\lbw\AppData\Local\Temp\ipykernel_26604\1802109519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["개봉월"] = m["개봉일"].apply(lambda x: x.split("-")[1])

             감독        제작사        배급사  국적  ...   장르        등급     영화구분 개봉월
0     14.306190  12.886638  13.607103  한국  ...   사극  15세이상관람가     일반영화  07
1     15.172542  16.604523  13.607103  한국  ...  코미디  15세이상관람가     일반영화  01
2     15.714698  16.402393  12.960970  한국  ...  판타지  12세이상관람가     일반영화  12
3     15.908342  15.263750  13.607103  한국  ...  드라마  12세이상관람가     일반영화  12
4     14.740589  15.240150  13.427532  미국  ...   액션  12세이상관람가     일반영화  04
...         ...        ...        ...  ..  ...  ...       ...      ...  ..
3956   7.217443   7.217443   9.570018  기타  ...   SF  15세이상관람가     일반영화  07
3959   7.205635   7.205635   7.205635  홍콩  ...   액션  15세이상관람가  독립/예술영화  01
3963   7.156956   8.649415   9.092294  미국  ...   SF  15세이상관람가     일반영화  04
3965   7.770353   7.134891   7.134891  한국  ...  드라마  15세이상관람가  독립/예술영화  04
3972   6.740519  11.194093   7.827640  미국  ...  스릴러  15세이상관람가     일반영화  08

[2329 rows x 10 columns]

In [7]:
# 영화형태, 국적, 장르, 등급, 영화구분 열을 더미 변수로 변환
dummy_columns = ["국적", "장르", "등급", "영화구분"]
m_dummy = pd.get_dummies(m[dummy_columns], prefix=dummy_columns)

# 더미 변수를 새로운 데이터프레임에 추가
m_new = pd.concat([m, m_dummy], axis=1)

# 기존의 영화형태, 국적, 장르, 등급, 영화구분 열 삭제
m_new.drop(dummy_columns, axis=1, inplace=True)

# 결과 확인
m_new

             감독        제작사        배급사  ...  등급_청소년관람불가  영화구분_독립/예술영화 영화구분_일반영화
0     14.306190  12.886638  13.607103  ...       False         False      True
1     15.172542  16.604523  13.607103  ...       False         False      True
2     15.714698  16.402393  12.960970  ...       False         False      True
3     15.908342  15.263750  13.607103  ...       False         False      True
4     14.740589  15.240150  13.427532  ...       False         False      True
...         ...        ...        ...  ...         ...           ...       ...
3956   7.217443   7.217443   9.570018  ...       False         False      True
3959   7.205635   7.205635   7.205635  ...       False          True     False
3963   7.156956   8.649415   9.092294  ...       False         False      True
3965   7.770353   7.134891   7.134891  ...       False          True     False
3972   6.740519  11.194093   7.827640  ...       False         False      True

[2329 rows x 43 columns]

In [8]:
# 상관관계 확인
m_new.iloc[:, :6].corr()

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉월
감독       1.000000  0.864178  0.744978  0.646083  0.559955  0.005630
제작사      0.864178  1.000000  0.752690  0.636334  0.568284 -0.010484
배급사      0.744978  0.752690  1.000000  0.477674  0.411173  0.002857
전국 스크린수  0.646083  0.636334  0.477674  1.000000  0.651726  0.027905
전국 관객수   0.559955  0.568284  0.411173  0.651726  1.000000  0.036604
개봉월      0.005630 -0.010484  0.002857  0.027905  0.036604  1.000000

In [9]:
# 개봉월 컬럼 삭제
m_new.drop(["개봉월"], axis=1, inplace=True)

m_new

             감독        제작사        배급사  ...  등급_청소년관람불가  영화구분_독립/예술영화  영화구분_일반영화
0     14.306190  12.886638  13.607103  ...       False         False       True
1     15.172542  16.604523  13.607103  ...       False         False       True
2     15.714698  16.402393  12.960970  ...       False         False       True
3     15.908342  15.263750  13.607103  ...       False         False       True
4     14.740589  15.240150  13.427532  ...       False         False       True
...         ...        ...        ...  ...         ...           ...        ...
3956   7.217443   7.217443   9.570018  ...       False         False       True
3959   7.205635   7.205635   7.205635  ...       False          True      False
3963   7.156956   8.649415   9.092294  ...       False         False       True
3965   7.770353   7.134891   7.134891  ...       False          True      False
3972   6.740519  11.194093   7.827640  ...       False         False       True

[2329 rows x 42 columns]

In [10]:
# 다중공선선 확인을 위해 더미 컬럼 제외
X = m_new.iloc[:, :5]

# 변수(features)와 VIF 값을 담을 데이터프레임 생성
vif = pd.DataFrame()
vif["features"] = X.columns

# X 데이터프레임의 각 변수에 대한 VIF 값을 계산하여 vif_factor 컬럼에 저장
vif["vif_factor"] = [variance_inflation_factor(X.values.astype(float), i) for i in range(X.shape[1])]
vif

  features  vif_factor
0       감독  178.515333
1      제작사  184.651319
2      배급사  122.706715
3  전국 스크린수    4.393730
4   전국 관객수    2.169640

In [11]:
# 상관관계 행렬
m_corr = m_new.iloc[:, :5].corr()

# 상관관계 행렬로부터 공분산행렬 구하기
cov_matrix = np.linalg.inv(m_corr.values)

# 공분산행렬에서 대각성분 계산
eigenvalues = np.linalg.eigvals(cov_matrix)

# 다중공선성 진단을 위한 조건수(condition number) 계산
cond_num = np.max(eigenvalues) / np.min(eigenvalues)

cond_num

26.206884591040787

In [12]:
m_new

             감독        제작사        배급사  ...  등급_청소년관람불가  영화구분_독립/예술영화  영화구분_일반영화
0     14.306190  12.886638  13.607103  ...       False         False       True
1     15.172542  16.604523  13.607103  ...       False         False       True
2     15.714698  16.402393  12.960970  ...       False         False       True
3     15.908342  15.263750  13.607103  ...       False         False       True
4     14.740589  15.240150  13.427532  ...       False         False       True
...         ...        ...        ...  ...         ...           ...        ...
3956   7.217443   7.217443   9.570018  ...       False         False       True
3959   7.205635   7.205635   7.205635  ...       False          True      False
3963   7.156956   8.649415   9.092294  ...       False         False       True
3965   7.770353   7.134891   7.134891  ...       False          True      False
3972   6.740519  11.194093   7.827640  ...       False         False       True

[2329 rows x 42 columns]

In [13]:
m_new.to_csv("../../data/processed/processed_3.csv", index=False)