In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
m = pd.read_csv("../../data/processed/processed_2.csv")

m

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07,한국,1587.0,1.357484e+11,17613682.0,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01,한국,1978.0,1.396480e+11,16264944.0,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12,한국,1912.0,1.156987e+11,14410754.0,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12,한국,966.0,1.108280e+11,14245998.0,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04,미국,2835.0,1.221827e+11,13934592.0,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...
3874,"극장판 포켓몬스터: 정글의 아이, 코코",야지마 테츠오,"OLM, Inc.",(주)넥스트엔터테인먼트월드(NEW),2021-09,일본,699.0,NaN,360873.0,애니메이션,전체관람가,일반영화
3875,"틱, 틱... 붐!",린-마누엘 미란다,NaN,씨제이 씨지브이(CJ CGV)(주),2021-11,미국,108.0,NaN,208739.0,드라마,12세이상관람가,일반영화
3876,"아치의 노래, 정태춘",고영재,(주)인디플러그,(주)넥스트엔터테인먼트월드(NEW),2022-05,한국,149.0,NaN,1966.0,다큐멘터리,전체관람가,독립/예술영화
3877,"어쩌다 공주, 닭냥이 왕자를 부탁해!",줄리앙 프루네,NaN,(주)팝엔터테인먼트,2022-09,프랑스,306.0,NaN,35210.0,애니메이션,전체관람가,독립/예술영화
3878,"오늘 밤, 세계에서 이 사랑이 사라진다 해도",미키 타카히로,NaN,"(주)바이포엠스튜디오,홀리가든",2022-11,일본,258.0,NaN,41049.0,멜로/로맨스,12세이상관람가,독립/예술영화

In [3]:
m.isna().sum()

영화명           0
감독            3
제작사        1584
배급사           0
개봉일           0
국적            0
전국 스크린수       0
전국 매출액        6
전국 관객수        0
장르            0
등급            0
영화구분          0
dtype: int64

In [4]:
# 감독, 제작사 결측치 제거
m = m.dropna(subset=["감독", "제작사"])

m

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07,한국,1587.0,1.357484e+11,17613682.0,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01,한국,1978.0,1.396480e+11,16264944.0,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12,한국,1912.0,1.156987e+11,14410754.0,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12,한국,966.0,1.108280e+11,14245998.0,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04,미국,2835.0,1.221827e+11,13934592.0,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...
3868,"조금씩, 천천히 안녕",나카노 료타,TV 도쿄,(주)디스테이션,2020-05,일본,166.0,4.778132e+07,5960.0,가족,전체관람가,독립/예술영화
3871,"사랑하고 사랑받고, 차고 차이고",쿠로야나기 토시마사,도호 영화A-1 Pictures,(주)라이크콘텐츠,2021-04,일본,91.0,6.395661e+07,6876.0,애니메이션,전체관람가,독립/예술영화
3872,꼬마 마법사 레미 : 견습 마법사를 찾아서,"사토 준이치,카마타니 하루카",토에이 애니메이션,(주)얼리버드픽쳐스,2021-05,일본,65.0,3.594930e+07,3190.0,애니메이션,12세이상관람가,일반영화
3874,"극장판 포켓몬스터: 정글의 아이, 코코",야지마 테츠오,"OLM, Inc.",(주)넥스트엔터테인먼트월드(NEW),2021-09,일본,699.0,NaN,360873.0,애니메이션,전체관람가,일반영화
3876,"아치의 노래, 정태춘",고영재,(주)인디플러그,(주)넥스트엔터테인먼트월드(NEW),2022-05,한국,149.0,NaN,1966.0,다큐멘터리,전체관람가,독립/예술영화

In [5]:
# 감독별 전국 관객수 평균값 계산
director_groupby = m.groupby("감독")["전국 관객수"].apply(lambda x: x.sum().mean())
# 제작사별 전국 관객수 평균값 계산
producer_groupby = m.groupby("제작사")["전국 관객수"].apply(lambda x: x.sum().mean())
# 배급사별 전국 관객수 평균값 계산
distributor_groupby = m.groupby("배급사")["전국 관객수"].apply(lambda x: x.sum().mean())

# 각 값을 변환
m["감독"] = m["감독"].map(director_groupby)
m["제작사"] = m["제작사"].map(producer_groupby)
m["배급사"] = m["배급사"].map(distributor_groupby)

m

C:\Users\lbw\AppData\Local\Temp\ipykernel_20752\2891989697.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["감독"] = m["감독"].map(director_groupby)
C:\Users\lbw\AppData\Local\Temp\ipykernel_20752\2891989697.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["제작사"] = m["제작사"].map(producer_groupby)
C:\Users\lbw\AppData\Local\Temp\ipykernel_20752\2891989697.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["배급사"] = m["배급사"].map(distributor_groupby)

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,장르,등급,영화구분
0,명량,32994955.0,25901788.0,408568268.0,2014-07,한국,1587.0,1.357484e+11,17613682.0,사극,15세이상관람가,일반영화
1,극한직업,20493037.0,16264944.0,408568268.0,2019-01,한국,1978.0,1.396480e+11,16264944.0,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,36480785.0,26664001.0,197139226.0,2017-12,한국,1912.0,1.156987e+11,14410754.0,판타지,12세이상관람가,일반영화
3,국제시장,28965892.0,40748216.0,408568268.0,2014-12,한국,966.0,1.108280e+11,14245998.0,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,33853565.0,80052717.0,108716317.0,2019-04,미국,2835.0,1.221827e+11,13934592.0,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...
3868,"조금씩, 천천히 안녕",27757.0,5960.0,357074.0,2020-05,일본,166.0,4.778132e+07,5960.0,가족,전체관람가,독립/예술영화
3871,"사랑하고 사랑받고, 차고 차이고",30209.0,30209.0,126229.0,2021-04,일본,91.0,6.395661e+07,6876.0,애니메이션,전체관람가,독립/예술영화
3872,꼬마 마법사 레미 : 견습 마법사를 찾아서,3190.0,449249.0,3190.0,2021-05,일본,65.0,3.594930e+07,3190.0,애니메이션,12세이상관람가,일반영화
3874,"극장판 포켓몬스터: 정글의 아이, 코코",555565.0,458271.0,202280319.0,2021-09,일본,699.0,NaN,360873.0,애니메이션,전체관람가,일반영화
3876,"아치의 노래, 정태춘",36019.0,41966.0,202280319.0,2022-05,한국,149.0,NaN,1966.0,다큐멘터리,전체관람가,독립/예술영화

In [6]:
# 연월 분리
m['개봉년'] = m['개봉일'].apply(lambda x: int(x.split('-')[0]))
m['개봉월'] = m['개봉일'].apply(lambda x: int(x.split('-')[1]))

# 영화명, 개봉일, 전국 매출액 컬럼 삭제
m = m.drop(["영화명", "개봉일", "전국 매출액"], axis=1)

m

C:\Users\lbw\AppData\Local\Temp\ipykernel_20752\1297847173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m['개봉년'] = m['개봉일'].apply(lambda x: int(x.split('-')[0]))
C:\Users\lbw\AppData\Local\Temp\ipykernel_20752\1297847173.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m['개봉월'] = m['개봉일'].apply(lambda x: int(x.split('-')[1]))

,감독,제작사,배급사,국적,전국 스크린수,전국 관객수,장르,등급,영화구분,개봉년,개봉월
0,32994955.0,25901788.0,408568268.0,한국,1587.0,17613682.0,사극,15세이상관람가,일반영화,2014,7
1,20493037.0,16264944.0,408568268.0,한국,1978.0,16264944.0,코미디,15세이상관람가,일반영화,2019,1
2,36480785.0,26664001.0,197139226.0,한국,1912.0,14410754.0,판타지,12세이상관람가,일반영화,2017,12
3,28965892.0,40748216.0,408568268.0,한국,966.0,14245998.0,드라마,12세이상관람가,일반영화,2014,12
4,33853565.0,80052717.0,108716317.0,미국,2835.0,13934592.0,액션,12세이상관람가,일반영화,2019,4
...,...,...,...,...,...,...,...,...,...,...,...
3868,27757.0,5960.0,357074.0,일본,166.0,5960.0,가족,전체관람가,독립/예술영화,2020,5
3871,30209.0,30209.0,126229.0,일본,91.0,6876.0,애니메이션,전체관람가,독립/예술영화,2021,4
3872,3190.0,449249.0,3190.0,일본,65.0,3190.0,애니메이션,12세이상관람가,일반영화,2021,5
3874,555565.0,458271.0,202280319.0,일본,699.0,360873.0,애니메이션,전체관람가,일반영화,2021,9
3876,36019.0,41966.0,202280319.0,한국,149.0,1966.0,다큐멘터리,전체관람가,독립/예술영화,2022,5

In [7]:
# 영화형태, 국적, 장르, 등급, 영화구분 열을 더미 변수로 변환
dummy_columns = ["국적", "장르", "등급", "영화구분"]
m_dummy = pd.get_dummies(m[dummy_columns], prefix=dummy_columns)

# 더미 변수를 새로운 데이터프레임에 추가
m_new = pd.concat([m, m_dummy], axis=1)

# 기존의 영화형태, 국적, 장르, 등급, 영화구분 열 삭제
m_new.drop(dummy_columns, axis=1, inplace=True)

# 결과 확인
m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,개봉년,개봉월,국적_기타,국적_독일,국적_러시아,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,32994955.0,25901788.0,408568268.0,1587.0,17613682.0,2014,7,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,20493037.0,16264944.0,408568268.0,1978.0,16264944.0,2019,1,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,36480785.0,26664001.0,197139226.0,1912.0,14410754.0,2017,12,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,28965892.0,40748216.0,408568268.0,966.0,14245998.0,2014,12,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,33853565.0,80052717.0,108716317.0,2835.0,13934592.0,2019,4,False,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,27757.0,5960.0,357074.0,166.0,5960.0,2020,5,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3871,30209.0,30209.0,126229.0,91.0,6876.0,2021,4,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3872,3190.0,449249.0,3190.0,65.0,3190.0,2021,5,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3874,555565.0,458271.0,202280319.0,699.0,360873.0,2021,9,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3876,36019.0,41966.0,202280319.0,149.0,1966.0,2022,5,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [8]:
# 상관관계 확인
m_new.iloc[:, :7].corr()

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년       개봉월
감독       1.000000  0.328133  0.305516  0.527443  0.715801 -0.098185  0.036532
제작사      0.328133  1.000000  0.189195  0.460692  0.427718 -0.010985 -0.014287
배급사      0.305516  0.189195  1.000000  0.338791  0.339492 -0.189183  0.001848
전국 스크린수  0.527443  0.460692  0.338791  1.000000  0.650248  0.216635  0.031113
전국 관객수   0.715801  0.427718  0.339492  0.650248  1.000000 -0.118542  0.038088
개봉년     -0.098185 -0.010985 -0.189183  0.216635 -0.118542  1.000000 -0.028247
개봉월      0.036532 -0.014287  0.001848  0.031113  0.038088 -0.028247  1.000000

In [9]:
m_new.iloc[:, :7].corr(method='spearman')

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년       개봉월
감독       1.000000  0.701680  0.561182  0.702180  0.831800 -0.268351  0.026673
제작사      0.701680  1.000000  0.554890  0.656729  0.775359 -0.250292 -0.009740
배급사      0.561182  0.554890  1.000000  0.526114  0.624865 -0.300398  0.008857
전국 스크린수  0.702180  0.656729  0.526114  1.000000  0.810108  0.088731  0.016648
전국 관객수   0.831800  0.775359  0.624865  0.810108  1.000000 -0.348275  0.001298
개봉년     -0.268351 -0.250292 -0.300398  0.088731 -0.348275  1.000000 -0.029418
개봉월      0.026673 -0.009740  0.008857  0.016648  0.001298 -0.029418  1.000000

In [10]:
m_new.iloc[:, :7].corr(method='kendall')

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년       개봉월
감독       1.000000  0.542998  0.393037  0.512147  0.708273 -0.183570  0.017816
제작사      0.542998  1.000000  0.383990  0.470160  0.632566 -0.171196 -0.007290
배급사      0.393037  0.383990  1.000000  0.365420  0.442409 -0.205763  0.005867
전국 스크린수  0.512147  0.470160  0.365420  1.000000  0.605192  0.072320  0.011304
전국 관객수   0.708273  0.632566  0.442409  0.605192  1.000000 -0.237479  0.000076
개봉년     -0.183570 -0.171196 -0.205763  0.072320 -0.237479  1.000000 -0.021202
개봉월      0.017816 -0.007290  0.005867  0.011304  0.000076 -0.021202  1.000000

In [11]:
# 개봉월 컬럼 삭제
m_new.drop(["개봉월"], axis=1, inplace=True)

m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,개봉년,국적_기타,국적_독일,국적_러시아,국적_미국,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,32994955.0,25901788.0,408568268.0,1587.0,17613682.0,2014,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,20493037.0,16264944.0,408568268.0,1978.0,16264944.0,2019,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,36480785.0,26664001.0,197139226.0,1912.0,14410754.0,2017,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,28965892.0,40748216.0,408568268.0,966.0,14245998.0,2014,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,33853565.0,80052717.0,108716317.0,2835.0,13934592.0,2019,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,27757.0,5960.0,357074.0,166.0,5960.0,2020,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3871,30209.0,30209.0,126229.0,91.0,6876.0,2021,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3872,3190.0,449249.0,3190.0,65.0,3190.0,2021,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3874,555565.0,458271.0,202280319.0,699.0,360873.0,2021,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3876,36019.0,41966.0,202280319.0,149.0,1966.0,2022,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [12]:
# 다중공선선 확인
X = m_new.iloc[:, :6]

# 변수(features)와 VIF 값을 담을 데이터프레임 생성
vif = pd.DataFrame()
vif["features"] = X.columns

# X 데이터프레임의 각 변수에 대한 VIF 값을 계산하여 vif_factor 컬럼에 저장
vif["vif_factor"] = [variance_inflation_factor(X.values.astype(float), i) for i in range(X.shape[1])]
vif

  features  vif_factor
0       감독    2.619926
1      제작사    1.556039
2      배급사    1.830391
3  전국 스크린수    4.277198
4   전국 관객수    3.325662
5      개봉년    2.521844

In [13]:
# 상관관계 행렬
m_corr = X.corr()

# 상관관계 행렬로부터 공분산행렬 구하기
cov_matrix = np.linalg.inv(m_corr.values)

# 공분산행렬에서 대각성분 계산
eigenvalues = np.linalg.eigvals(cov_matrix)

# 다중공선성 진단을 위한 조건수(condition number) 계산
cond_num = np.max(eigenvalues) / np.min(eigenvalues)

cond_num

12.039918795863514

In [14]:
m.isna().sum()

감독         0
제작사        0
배급사        0
국적         0
전국 스크린수    0
전국 관객수     0
장르         0
등급         0
영화구분       0
개봉년        0
개봉월        0
dtype: int64

In [15]:
m_new.to_csv("../../data/processed/processed_3.csv", index=False)