In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
m = pd.read_csv("../../data/processed/processed_2.csv")

m

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07-30,한국,1587,1.357484e+11,17613682,3.312123e+10,4163666,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01-23,한국,1978,1.396480e+11,16264944,3.185866e+10,3638287,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,한국,1912,1.156987e+11,14410754,2.753083e+10,3346172,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12-17,한국,966,1.108280e+11,14245998,2.584252e+10,3233946,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,미국,2835,1.221827e+11,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3970,늑대와 빨간 재킷,뱅상 파로노,NaN,판씨네마(주),2021-02-03,프랑스,74,8.525200e+06,950,2.893740e+06,345,스릴러,청소년관람불가,독립/예술영화
3971,마라가 큰 결정을 해야 해,로버트 루케틱,NaN,(주)영화사오원,2021-01-07,미국,79,7.475940e+06,856,2.830800e+06,321,멜로/로맨스,15세이상관람가,일반영화
3972,락다운 213주,아담 메이슨,플래티넘 듄스,그린나래미디어(주)(주)인터파크,2022-08-31,미국,61,7.664799e+06,845,3.573900e+06,381,스릴러,15세이상관람가,일반영화
3973,래미의 드래곤월드 구출작전,웨이밍 황,NaN,와이드 릴리즈(주),2020-07-16,중국,65,6.067340e+06,779,6.345000e+05,74,애니메이션,전체관람가,일반영화
3974,블루 서멀 같은 하늘을 보고 싶어,타치바나 마사키,NaN,(주)박수엔터테인먼트,2023-03-29,일본,62,3.039823e+06,325,1.277124e+06,130,애니메이션,전체관람가,독립/예술영화

In [3]:
m.isna().sum()

영화명           0
감독            3
제작사        1643
배급사           0
개봉일           0
국적            0
전국 스크린수       0
전국 매출액        0
전국 관객수        0
서울 매출액        0
서울 관객수        0
장르            0
등급            0
영화구분          0
dtype: int64

In [4]:
# 감독, 제작사 결측치 제거
m = m.dropna(subset=["감독", "제작사"])

m

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07-30,한국,1587,1.357484e+11,17613682,3.312123e+10,4163666,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01-23,한국,1978,1.396480e+11,16264944,3.185866e+10,3638287,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,한국,1912,1.156987e+11,14410754,2.753083e+10,3346172,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12-17,한국,966,1.108280e+11,14245998,2.584252e+10,3233946,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,미국,2835,1.221827e+11,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,코드 8,제프 챈,XYZ 필름스,(주)팝엔터테인먼트,2020-07-02,기타,82,1.124136e+07,1362,3.337960e+06,400,SF,15세이상관람가,일반영화
3959,레이징 파이어,진목승,텐센트 픽처스,(주)제이앤씨미디어그룹(주)씨네필운,2022-01-20,홍콩,60,1.216316e+07,1346,5.719560e+06,605,액션,15세이상관람가,독립/예술영화
3963,섀도우 클라우드,로젠느 리앙,버티컬 엔터테인먼트,(주)제이앤씨미디어그룹,2021-04-22,미국,71,1.151214e+07,1282,3.775040e+06,384,SF,15세이상관람가,일반영화
3965,그녀의 비밀정원,김인식,(주)인디컴미디어,(유)조이앤시네마(주)제이앤씨미디어그룹,2020-04-22,한국,79,9.966880e+06,1254,2.905860e+06,375,드라마,15세이상관람가,독립/예술영화
3972,락다운 213주,아담 메이슨,플래티넘 듄스,그린나래미디어(주)(주)인터파크,2022-08-31,미국,61,7.664799e+06,845,3.573900e+06,381,스릴러,15세이상관람가,일반영화

In [5]:
# 감독별 전국 관객수 로그 변환 평균값 계산
director_groupby = m.groupby("감독")["전국 관객수"].apply(lambda x: np.log1p(x).mean())
# 제작사별 전국 관객수 로그 변환 평균값 계산
producer_groupby = m.groupby("제작사")["전국 관객수"].apply(lambda x: np.log1p(x).mean())
# 배급사별 전국 관객수 로그 변환 평균값 계산
distributor_groupby = m.groupby("배급사")["전국 관객수"].apply(lambda x: np.log1p(x).mean())

# 각 값을 변환
m["감독"] = m["감독"].map(director_groupby)
m["제작사"] = m["제작사"].map(producer_groupby)
m["배급사"] = m["배급사"].map(distributor_groupby)

m

C:\Users\user\AppData\Local\Temp\ipykernel_15652\4283574835.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["감독"] = m["감독"].map(director_groupby)
C:\Users\user\AppData\Local\Temp\ipykernel_15652\4283574835.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["제작사"] = m["제작사"].map(producer_groupby)
C:\Users\user\AppData\Local\Temp\ipykernel_15652\4283574835.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["배급사"] = m["배급사"].map(distributor_groupby)

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분
0,명량,14.306190,12.886638,13.607103,2014-07-30,한국,1587,1.357484e+11,17613682,3.312123e+10,4163666,사극,15세이상관람가,일반영화
1,극한직업,15.172542,16.604523,13.607103,2019-01-23,한국,1978,1.396480e+11,16264944,3.185866e+10,3638287,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,15.714698,16.402393,12.960970,2017-12-20,한국,1912,1.156987e+11,14410754,2.753083e+10,3346172,판타지,12세이상관람가,일반영화
3,국제시장,15.908342,15.263750,13.607103,2014-12-17,한국,966,1.108280e+11,14245998,2.584252e+10,3233946,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,14.740589,15.240150,13.427532,2019-04-24,미국,2835,1.221827e+11,13934592,3.357714e+10,3597963,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,코드 8,7.217443,7.217443,9.570018,2020-07-02,기타,82,1.124136e+07,1362,3.337960e+06,400,SF,15세이상관람가,일반영화
3959,레이징 파이어,7.205635,7.205635,7.205635,2022-01-20,홍콩,60,1.216316e+07,1346,5.719560e+06,605,액션,15세이상관람가,독립/예술영화
3963,섀도우 클라우드,7.156956,8.649415,9.092294,2021-04-22,미국,71,1.151214e+07,1282,3.775040e+06,384,SF,15세이상관람가,일반영화
3965,그녀의 비밀정원,7.770353,7.134891,7.134891,2020-04-22,한국,79,9.966880e+06,1254,2.905860e+06,375,드라마,15세이상관람가,독립/예술영화
3972,락다운 213주,6.740519,11.194093,7.827640,2022-08-31,미국,61,7.664799e+06,845,3.573900e+06,381,스릴러,15세이상관람가,일반영화

In [6]:
# 개봉일에서 개봉년만 추출
m["개봉년"] = m["개봉일"].apply(lambda x: x.split("-")[0])

# 영화명, 개봉일 컬럼 삭제
m = m.drop(["영화명", "개봉일", "전국 매출액", "서울 매출액", "서울 관객수"], axis=1)

m

C:\Users\user\AppData\Local\Temp\ipykernel_15652\3713979052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["개봉년"] = m["개봉일"].apply(lambda x: x.split("-")[0])

,감독,제작사,배급사,국적,전국 스크린수,전국 관객수,장르,등급,영화구분,개봉년
0,14.306190,12.886638,13.607103,한국,1587,17613682,사극,15세이상관람가,일반영화,2014
1,15.172542,16.604523,13.607103,한국,1978,16264944,코미디,15세이상관람가,일반영화,2019
2,15.714698,16.402393,12.960970,한국,1912,14410754,판타지,12세이상관람가,일반영화,2017
3,15.908342,15.263750,13.607103,한국,966,14245998,드라마,12세이상관람가,일반영화,2014
4,14.740589,15.240150,13.427532,미국,2835,13934592,액션,12세이상관람가,일반영화,2019
...,...,...,...,...,...,...,...,...,...,...
3956,7.217443,7.217443,9.570018,기타,82,1362,SF,15세이상관람가,일반영화,2020
3959,7.205635,7.205635,7.205635,홍콩,60,1346,액션,15세이상관람가,독립/예술영화,2022
3963,7.156956,8.649415,9.092294,미국,71,1282,SF,15세이상관람가,일반영화,2021
3965,7.770353,7.134891,7.134891,한국,79,1254,드라마,15세이상관람가,독립/예술영화,2020
3972,6.740519,11.194093,7.827640,미국,61,845,스릴러,15세이상관람가,일반영화,2022

In [7]:
# 영화형태, 국적, 장르, 등급, 영화구분 열을 더미 변수로 변환
dummy_columns = ["국적", "장르", "등급", "영화구분"]
m_dummy = pd.get_dummies(m[dummy_columns], prefix=dummy_columns)

# 더미 변수를 새로운 데이터프레임에 추가
m_new = pd.concat([m, m_dummy], axis=1)

# 기존의 영화형태, 국적, 장르, 등급, 영화구분 열 삭제
m_new.drop(dummy_columns, axis=1, inplace=True)

# 결과 확인
m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,개봉년,국적_기타,국적_독일,국적_러시아,국적_미국,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,14.306190,12.886638,13.607103,1587,17613682,2014,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,15.172542,16.604523,13.607103,1978,16264944,2019,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,15.714698,16.402393,12.960970,1912,14410754,2017,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,15.908342,15.263750,13.607103,966,14245998,2014,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,14.740589,15.240150,13.427532,2835,13934592,2019,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,7.217443,7.217443,9.570018,82,1362,2020,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3959,7.205635,7.205635,7.205635,60,1346,2022,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3963,7.156956,8.649415,9.092294,71,1282,2021,False,False,False,True,...,False,False,False,False,False,True,False,False,False,True
3965,7.770353,7.134891,7.134891,79,1254,2020,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3972,6.740519,11.194093,7.827640,61,845,2022,False,False,False,True,...,False,False,False,False,False,True,False,False,False,True

In [8]:
# 상관관계 확인
m_new.iloc[:, :6].corr()

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년
감독       1.000000  0.864178  0.744978  0.646083  0.559955 -0.312064
제작사      0.864178  1.000000  0.752690  0.636334  0.568284 -0.328797
배급사      0.744978  0.752690  1.000000  0.477674  0.411173 -0.412781
전국 스크린수  0.646083  0.636334  0.477674  1.000000  0.651726  0.213047
전국 관객수   0.559955  0.568284  0.411173  0.651726  1.000000 -0.116554
개봉년     -0.312064 -0.328797 -0.412781  0.213047 -0.116554  1.000000

In [9]:
m_new.iloc[:, :6].corr(method='spearman')

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년
감독       1.000000  0.860720  0.714199  0.762435  0.906692 -0.304248
제작사      0.860720  1.000000  0.730337  0.749709  0.903361 -0.326068
배급사      0.714199  0.730337  1.000000  0.568475  0.739371 -0.404472
전국 스크린수  0.762435  0.749709  0.568475  1.000000  0.814539  0.085265
전국 관객수   0.906692  0.903361  0.739371  0.814539  1.000000 -0.344171
개봉년     -0.304248 -0.326068 -0.404472  0.085265 -0.344171  1.000000

In [10]:
m_new.iloc[:, :6].corr(method='kendall')

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년
감독       1.000000  0.690763  0.528942  0.559374  0.775768 -0.207871
제작사      0.690763  1.000000  0.541775  0.547502  0.763079 -0.224415
배급사      0.528942  0.541775  1.000000  0.396831  0.553337 -0.286309
전국 스크린수  0.559374  0.547502  0.396831  1.000000  0.609969  0.069423
전국 관객수   0.775768  0.763079  0.553337  0.609969  1.000000 -0.234750
개봉년     -0.207871 -0.224415 -0.286309  0.069423 -0.234750  1.000000

In [11]:
# 개봉년 컬럼 삭제
m_new.drop(["개봉년"], axis=1, inplace=True)

m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,국적_기타,국적_독일,국적_러시아,국적_미국,국적_스페인,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,14.306190,12.886638,13.607103,1587,17613682,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,15.172542,16.604523,13.607103,1978,16264944,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,15.714698,16.402393,12.960970,1912,14410754,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,15.908342,15.263750,13.607103,966,14245998,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,14.740589,15.240150,13.427532,2835,13934592,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,7.217443,7.217443,9.570018,82,1362,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3959,7.205635,7.205635,7.205635,60,1346,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3963,7.156956,8.649415,9.092294,71,1282,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,True
3965,7.770353,7.134891,7.134891,79,1254,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3972,6.740519,11.194093,7.827640,61,845,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,True

In [12]:
# 다중공선선 확인을 위해 더미 컬럼 제외
X = m_new.iloc[:, :5]

# 변수(features)와 VIF 값을 담을 데이터프레임 생성
vif = pd.DataFrame()
vif["features"] = X.columns

# X 데이터프레임의 각 변수에 대한 VIF 값을 계산하여 vif_factor 컬럼에 저장
vif["vif_factor"] = [variance_inflation_factor(X.values.astype(float), i) for i in range(X.shape[1])]
vif

  features  vif_factor
0       감독  178.515333
1      제작사  184.651319
2      배급사  122.706715
3  전국 스크린수    4.393730
4   전국 관객수    2.169640

In [13]:
# 상관관계 행렬
m_corr = m_new.iloc[:, :5].corr()

# 상관관계 행렬로부터 공분산행렬 구하기
cov_matrix = np.linalg.inv(m_corr.values)

# 공분산행렬에서 대각성분 계산
eigenvalues = np.linalg.eigvals(cov_matrix)

# 다중공선성 진단을 위한 조건수(condition number) 계산
cond_num = np.max(eigenvalues) / np.min(eigenvalues)

cond_num

26.206884591040787

In [14]:
m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,국적_기타,국적_독일,국적_러시아,국적_미국,국적_스페인,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,14.306190,12.886638,13.607103,1587,17613682,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,15.172542,16.604523,13.607103,1978,16264944,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,15.714698,16.402393,12.960970,1912,14410754,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,15.908342,15.263750,13.607103,966,14245998,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,14.740589,15.240150,13.427532,2835,13934592,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,7.217443,7.217443,9.570018,82,1362,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3959,7.205635,7.205635,7.205635,60,1346,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3963,7.156956,8.649415,9.092294,71,1282,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,True
3965,7.770353,7.134891,7.134891,79,1254,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3972,6.740519,11.194093,7.827640,61,845,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,True

In [15]:
m_new.to_csv("../../data/processed/processed_3.csv", index=False)