In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
m = pd.read_csv("../../data/processed/processed_2.csv")

m

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07,한국,1587.0,1.357484e+11,17613682.0,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01,한국,1978.0,1.396480e+11,16264944.0,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12,한국,1912.0,1.156987e+11,14410754.0,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12,한국,966.0,1.108280e+11,14245998.0,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04,미국,2835.0,1.221827e+11,13934592.0,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...
3874,"극장판 포켓몬스터: 정글의 아이, 코코",야지마 테츠오,"OLM, Inc.",(주)넥스트엔터테인먼트월드(NEW),2021-09,일본,699.0,NaN,360873.0,애니메이션,전체관람가,일반영화
3875,"틱, 틱... 붐!",린-마누엘 미란다,NaN,씨제이 씨지브이(CJ CGV)(주),2021-11,미국,108.0,NaN,208739.0,드라마,12세이상관람가,일반영화
3876,"아치의 노래, 정태춘",고영재,(주)인디플러그,(주)넥스트엔터테인먼트월드(NEW),2022-05,한국,149.0,NaN,1966.0,다큐멘터리,전체관람가,독립/예술영화
3877,"어쩌다 공주, 닭냥이 왕자를 부탁해!",줄리앙 프루네,NaN,(주)팝엔터테인먼트,2022-09,프랑스,306.0,NaN,35210.0,애니메이션,전체관람가,독립/예술영화
3878,"오늘 밤, 세계에서 이 사랑이 사라진다 해도",미키 타카히로,NaN,"(주)바이포엠스튜디오,홀리가든",2022-11,일본,258.0,NaN,41049.0,멜로/로맨스,12세이상관람가,독립/예술영화

In [3]:
m.isna().sum()

영화명           0
감독            3
제작사        1584
배급사           0
개봉일           0
국적            0
전국 스크린수       0
전국 매출액        6
전국 관객수        0
장르            0
등급            0
영화구분          0
dtype: int64

In [4]:
# 감독, 제작사 결측치 제거
m = m.dropna(subset=["감독", "제작사"])

m

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07,한국,1587.0,1.357484e+11,17613682.0,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01,한국,1978.0,1.396480e+11,16264944.0,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12,한국,1912.0,1.156987e+11,14410754.0,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12,한국,966.0,1.108280e+11,14245998.0,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04,미국,2835.0,1.221827e+11,13934592.0,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...
3868,"조금씩, 천천히 안녕",나카노 료타,TV 도쿄,(주)디스테이션,2020-05,일본,166.0,4.778132e+07,5960.0,가족,전체관람가,독립/예술영화
3871,"사랑하고 사랑받고, 차고 차이고",쿠로야나기 토시마사,도호 영화A-1 Pictures,(주)라이크콘텐츠,2021-04,일본,91.0,6.395661e+07,6876.0,애니메이션,전체관람가,독립/예술영화
3872,꼬마 마법사 레미 : 견습 마법사를 찾아서,"사토 준이치,카마타니 하루카",토에이 애니메이션,(주)얼리버드픽쳐스,2021-05,일본,65.0,3.594930e+07,3190.0,애니메이션,12세이상관람가,일반영화
3874,"극장판 포켓몬스터: 정글의 아이, 코코",야지마 테츠오,"OLM, Inc.",(주)넥스트엔터테인먼트월드(NEW),2021-09,일본,699.0,NaN,360873.0,애니메이션,전체관람가,일반영화
3876,"아치의 노래, 정태춘",고영재,(주)인디플러그,(주)넥스트엔터테인먼트월드(NEW),2022-05,한국,149.0,NaN,1966.0,다큐멘터리,전체관람가,독립/예술영화

In [5]:
# 감독별 전국 관객수 로그 변환 평균값 계산
director_groupby = m.groupby("감독")["전국 관객수"].apply(lambda x: np.log1p(x).mean())
# 제작사별 전국 관객수 로그 변환 평균값 계산
producer_groupby = m.groupby("제작사")["전국 관객수"].apply(lambda x: np.log1p(x).mean())
# 배급사별 전국 관객수 로그 변환 평균값 계산
distributor_groupby = m.groupby("배급사")["전국 관객수"].apply(lambda x: np.log1p(x).mean())

# 각 값을 변환
m["감독"] = m["감독"].map(director_groupby)
m["제작사"] = m["제작사"].map(producer_groupby)
m["배급사"] = m["배급사"].map(distributor_groupby)

m

C:\Users\user\AppData\Local\Temp\ipykernel_15316\4283574835.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["감독"] = m["감독"].map(director_groupby)
C:\Users\user\AppData\Local\Temp\ipykernel_15316\4283574835.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["제작사"] = m["제작사"].map(producer_groupby)
C:\Users\user\AppData\Local\Temp\ipykernel_15316\4283574835.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["배급사"] = m["배급사"].map(distributor_groupby)

,영화명,감독,제작사,배급사,개봉일,국적,전국 스크린수,전국 매출액,전국 관객수,장르,등급,영화구분
0,명량,14.306190,12.886638,13.649190,2014-07,한국,1587.0,1.357484e+11,17613682.0,사극,15세이상관람가,일반영화
1,극한직업,15.172542,16.604523,13.649190,2019-01,한국,1978.0,1.396480e+11,16264944.0,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,15.714698,16.402393,12.997266,2017-12,한국,1912.0,1.156987e+11,14410754.0,판타지,12세이상관람가,일반영화
3,국제시장,15.908342,15.263750,13.649190,2014-12,한국,966.0,1.108280e+11,14245998.0,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,14.740589,15.240150,13.427532,2019-04,미국,2835.0,1.221827e+11,13934592.0,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...,...
3868,"조금씩, 천천히 안녕",9.341284,8.692994,9.155124,2020-05,일본,166.0,4.778132e+07,5960.0,가족,전체관람가,독립/예술영화
3871,"사랑하고 사랑받고, 차고 차이고",9.140915,9.140915,9.540295,2021-04,일본,91.0,6.395661e+07,6876.0,애니메이션,전체관람가,독립/예술영화
3872,꼬마 마법사 레미 : 견습 마법사를 찾아서,8.068090,10.300064,8.068090,2021-05,일본,65.0,3.594930e+07,3190.0,애니메이션,12세이상관람가,일반영화
3874,"극장판 포켓몬스터: 정글의 아이, 코코",12.487732,12.141428,13.049010,2021-09,일본,699.0,NaN,360873.0,애니메이션,전체관람가,일반영화
3876,"아치의 노래, 정태춘",9.009984,8.903593,13.049010,2022-05,한국,149.0,NaN,1966.0,다큐멘터리,전체관람가,독립/예술영화

In [6]:
# 연월 분리
m['개봉년'] = m['개봉일'].apply(lambda x: int(x.split('-')[0]))
m['개봉월'] = m['개봉일'].apply(lambda x: int(x.split('-')[1]))

# 영화명, 개봉일, 전국 매출액 컬럼 삭제
m = m.drop(["영화명", "개봉일", "전국 매출액"], axis=1)

m

C:\Users\user\AppData\Local\Temp\ipykernel_15316\1297847173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m['개봉년'] = m['개봉일'].apply(lambda x: int(x.split('-')[0]))
C:\Users\user\AppData\Local\Temp\ipykernel_15316\1297847173.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m['개봉월'] = m['개봉일'].apply(lambda x: int(x.split('-')[1]))

,감독,제작사,배급사,국적,전국 스크린수,전국 관객수,장르,등급,영화구분,개봉년,개봉월
0,14.306190,12.886638,13.649190,한국,1587.0,17613682.0,사극,15세이상관람가,일반영화,2014,7
1,15.172542,16.604523,13.649190,한국,1978.0,16264944.0,코미디,15세이상관람가,일반영화,2019,1
2,15.714698,16.402393,12.997266,한국,1912.0,14410754.0,판타지,12세이상관람가,일반영화,2017,12
3,15.908342,15.263750,13.649190,한국,966.0,14245998.0,드라마,12세이상관람가,일반영화,2014,12
4,14.740589,15.240150,13.427532,미국,2835.0,13934592.0,액션,12세이상관람가,일반영화,2019,4
...,...,...,...,...,...,...,...,...,...,...,...
3868,9.341284,8.692994,9.155124,일본,166.0,5960.0,가족,전체관람가,독립/예술영화,2020,5
3871,9.140915,9.140915,9.540295,일본,91.0,6876.0,애니메이션,전체관람가,독립/예술영화,2021,4
3872,8.068090,10.300064,8.068090,일본,65.0,3190.0,애니메이션,12세이상관람가,일반영화,2021,5
3874,12.487732,12.141428,13.049010,일본,699.0,360873.0,애니메이션,전체관람가,일반영화,2021,9
3876,9.009984,8.903593,13.049010,한국,149.0,1966.0,다큐멘터리,전체관람가,독립/예술영화,2022,5

In [7]:
# 영화형태, 국적, 장르, 등급, 영화구분 열을 더미 변수로 변환
dummy_columns = ["국적", "장르", "등급", "영화구분"]
m_dummy = pd.get_dummies(m[dummy_columns], prefix=dummy_columns)

# 더미 변수를 새로운 데이터프레임에 추가
m_new = pd.concat([m, m_dummy], axis=1)

# 기존의 영화형태, 국적, 장르, 등급, 영화구분 열 삭제
m_new.drop(dummy_columns, axis=1, inplace=True)

# 결과 확인
m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,개봉년,개봉월,국적_기타,국적_독일,국적_러시아,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,14.306190,12.886638,13.649190,1587.0,17613682.0,2014,7,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,15.172542,16.604523,13.649190,1978.0,16264944.0,2019,1,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,15.714698,16.402393,12.997266,1912.0,14410754.0,2017,12,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,15.908342,15.263750,13.649190,966.0,14245998.0,2014,12,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,14.740589,15.240150,13.427532,2835.0,13934592.0,2019,4,False,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,9.341284,8.692994,9.155124,166.0,5960.0,2020,5,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3871,9.140915,9.140915,9.540295,91.0,6876.0,2021,4,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3872,8.068090,10.300064,8.068090,65.0,3190.0,2021,5,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3874,12.487732,12.141428,13.049010,699.0,360873.0,2021,9,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3876,9.009984,8.903593,13.049010,149.0,1966.0,2022,5,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [8]:
# 상관관계 확인
m_new.iloc[:, :7].corr()

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년       개봉월
감독       1.000000  0.864764  0.739161  0.644087  0.561142 -0.314462  0.010311
제작사      0.864764  1.000000  0.749417  0.633907  0.569084 -0.331408 -0.008636
배급사      0.739161  0.749417  1.000000  0.472590  0.410314 -0.413777  0.004618
전국 스크린수  0.644087  0.633907  0.472590  1.000000  0.650248  0.216635  0.031113
전국 관객수   0.561142  0.569084  0.410314  0.650248  1.000000 -0.118542  0.038088
개봉년     -0.314462 -0.331408 -0.413777  0.216635 -0.118542  1.000000 -0.028247
개봉월      0.010311 -0.008636  0.004618  0.031113  0.038088 -0.028247  1.000000

In [9]:
m_new.iloc[:, :7].corr(method='spearman')

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년       개봉월
감독       1.000000  0.860447  0.706707  0.760416  0.906160 -0.305863  0.003541
제작사      0.860447  1.000000  0.725366  0.747043  0.903708 -0.327279 -0.011844
배급사      0.706707  0.725366  1.000000  0.563102  0.735334 -0.403539 -0.003484
전국 스크린수  0.760416  0.747043  0.563102  1.000000  0.810108  0.088731  0.016648
전국 관객수   0.906160  0.903708  0.735334  0.810108  1.000000 -0.348275  0.001298
개봉년     -0.305863 -0.327279 -0.403539  0.088731 -0.348275  1.000000 -0.029418
개봉월      0.003541 -0.011844 -0.003484  0.016648  0.001298 -0.029418  1.000000

In [10]:
m_new.iloc[:, :7].corr(method='kendall')

               감독       제작사       배급사   전국 스크린수    전국 관객수       개봉년       개봉월
감독       1.000000  0.689515  0.523464  0.557414  0.775586 -0.209082  0.001880
제작사      0.689515  1.000000  0.538236  0.544630  0.763679 -0.225243 -0.008379
배급사      0.523464  0.538236  1.000000  0.393080  0.550213 -0.285872 -0.002542
전국 스크린수  0.557414  0.544630  0.393080  1.000000  0.605192  0.072320  0.011304
전국 관객수   0.775586  0.763679  0.550213  0.605192  1.000000 -0.237479  0.000076
개봉년     -0.209082 -0.225243 -0.285872  0.072320 -0.237479  1.000000 -0.021202
개봉월      0.001880 -0.008379 -0.002542  0.011304  0.000076 -0.021202  1.000000

In [11]:
# 개봉월 컬럼 삭제
m_new.drop(["개봉월"], axis=1, inplace=True)

m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,개봉년,국적_기타,국적_독일,국적_러시아,국적_미국,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,14.306190,12.886638,13.649190,1587.0,17613682.0,2014,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,15.172542,16.604523,13.649190,1978.0,16264944.0,2019,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,15.714698,16.402393,12.997266,1912.0,14410754.0,2017,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,15.908342,15.263750,13.649190,966.0,14245998.0,2014,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,14.740589,15.240150,13.427532,2835.0,13934592.0,2019,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,9.341284,8.692994,9.155124,166.0,5960.0,2020,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3871,9.140915,9.140915,9.540295,91.0,6876.0,2021,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3872,8.068090,10.300064,8.068090,65.0,3190.0,2021,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3874,12.487732,12.141428,13.049010,699.0,360873.0,2021,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3876,9.009984,8.903593,13.049010,149.0,1966.0,2022,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [12]:
# 다중공선선 확인을 위해 더미 컬럼 제외
X = m_new.iloc[:, :6]

# 변수(features)와 VIF 값을 담을 데이터프레임 생성
vif = pd.DataFrame()
vif["features"] = X.columns

# X 데이터프레임의 각 변수에 대한 VIF 값을 계산하여 vif_factor 컬럼에 저장
vif["vif_factor"] = [variance_inflation_factor(X.values.astype(float), i) for i in range(X.shape[1])]
vif

  features  vif_factor
0       감독  189.223033
1      제작사  196.178223
2      배급사  146.106077
3  전국 스크린수    4.828656
4   전국 관객수    2.329293
5      개봉년   80.067833

In [13]:
# 상관관계 행렬
m_corr = m_new.iloc[:, :6].corr()

# 상관관계 행렬로부터 공분산행렬 구하기
cov_matrix = np.linalg.inv(m_corr.values)

# 공분산행렬에서 대각성분 계산
eigenvalues = np.linalg.eigvals(cov_matrix)

# 다중공선성 진단을 위한 조건수(condition number) 계산
cond_num = np.max(eigenvalues) / np.min(eigenvalues)

cond_num

26.88853398932164

In [14]:
m_new

,감독,제작사,배급사,전국 스크린수,전국 관객수,개봉년,국적_기타,국적_독일,국적_러시아,국적_미국,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,14.306190,12.886638,13.649190,1587.0,17613682.0,2014,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,15.172542,16.604523,13.649190,1978.0,16264944.0,2019,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
2,15.714698,16.402393,12.997266,1912.0,14410754.0,2017,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,15.908342,15.263750,13.649190,966.0,14245998.0,2014,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,14.740589,15.240150,13.427532,2835.0,13934592.0,2019,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,9.341284,8.692994,9.155124,166.0,5960.0,2020,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3871,9.140915,9.140915,9.540295,91.0,6876.0,2021,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3872,8.068090,10.300064,8.068090,65.0,3190.0,2021,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3874,12.487732,12.141428,13.049010,699.0,360873.0,2021,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3876,9.009984,8.903593,13.049010,149.0,1966.0,2022,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [15]:
m.isna().sum()

감독         0
제작사        0
배급사        0
국적         0
전국 스크린수    0
전국 관객수     0
장르         0
등급         0
영화구분       0
개봉년        0
개봉월        0
dtype: int64

In [16]:
m_new.to_csv("../../data/processed/processed_3.csv", index=False)