In [119]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [120]:
m = pd.read_csv("../../data/processed/KOBIS_개봉일람_2.csv")

m

,영화명,감독,제작사,배급사,개봉일,영화형태,국적,전국 스크린수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07-30,장편,한국,1587,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01-23,장편,한국,1978,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,장편,한국,1912,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12-17,장편,한국,966,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,장편,미국,2835,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...
3970,늑대와 빨간 재킷,뱅상 파로노,NaN,판씨네마(주),2021-02-03,장편,프랑스,74,스릴러,청소년관람불가,독립/예술영화
3971,마라가 큰 결정을 해야 해,로버트 루케틱,NaN,(주)영화사오원,2021-01-07,장편,미국,79,멜로/로맨스,15세이상관람가,일반영화
3972,락다운 213주,아담 메이슨,플래티넘 듄스,그린나래미디어(주)(주)인터파크,2022-08-31,장편,미국,61,스릴러,15세이상관람가,일반영화
3973,래미의 드래곤월드 구출작전,웨이밍 황,NaN,와이드 릴리즈(주),2020-07-16,장편,중국,65,애니메이션,전체관람가,일반영화
3974,블루 서멀 같은 하늘을 보고 싶어,타치바나 마사키,NaN,(주)박수엔터테인먼트,2023-03-29,장편,일본,62,애니메이션,전체관람가,독립/예술영화

In [121]:
m.isna().sum()

영화명           0
감독            3
제작사        1643
배급사           0
개봉일           0
영화형태          0
국적            0
전국 스크린수       0
장르            0
등급            0
영화구분          0
dtype: int64

In [122]:
# 감독, 제작사 결측치 제거
m = m.dropna(subset=["감독", "제작사"])

m

,영화명,감독,제작사,배급사,개봉일,영화형태,국적,전국 스크린수,장르,등급,영화구분
0,명량,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,2014-07-30,장편,한국,1587,사극,15세이상관람가,일반영화
1,극한직업,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,2019-01-23,장편,한국,1978,코미디,15세이상관람가,일반영화
2,신과함께-죄와 벌,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,장편,한국,1912,판타지,12세이상관람가,일반영화
3,국제시장,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,2014-12-17,장편,한국,966,드라마,12세이상관람가,일반영화
4,어벤져스: 엔드게임,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,장편,미국,2835,액션,12세이상관람가,일반영화
...,...,...,...,...,...,...,...,...,...,...,...
3956,코드 8,제프 챈,XYZ 필름스,(주)팝엔터테인먼트,2020-07-02,장편,기타,82,SF,15세이상관람가,일반영화
3959,레이징 파이어,진목승,텐센트 픽처스,(주)제이앤씨미디어그룹(주)씨네필운,2022-01-20,장편,홍콩,60,액션,15세이상관람가,독립/예술영화
3963,섀도우 클라우드,로젠느 리앙,버티컬 엔터테인먼트,(주)제이앤씨미디어그룹,2021-04-22,장편,미국,71,SF,15세이상관람가,일반영화
3965,그녀의 비밀정원,김인식,(주)인디컴미디어,(유)조이앤시네마(주)제이앤씨미디어그룹,2020-04-22,장편,한국,79,드라마,15세이상관람가,독립/예술영화
3972,락다운 213주,아담 메이슨,플래티넘 듄스,그린나래미디어(주)(주)인터파크,2022-08-31,장편,미국,61,스릴러,15세이상관람가,일반영화

In [ ]:
# 감독별 전국 관객수 로그 변환 평균값 계산
director_groupby = m.groupby('감독')['전국관객수'].apply(lambda x: np.log1p(x).mean())
# 제작사별 전국 관객수 로그 변환 평균값 계산
producer_groupby = m.groupby('제작사')['전국관객수'].apply(lambda x: np.log1p(x).mean())

# 각 값을 변환
m['감독'] = m['감독'].map(director_groupby)
m['제작사'] = m['제작사'].map(producer_groupby)

In [ ]:
m[["전국 매출액"]].to_csv("../../data/processed/KOBIS_개봉일람_4.csv", index=False)

In [ ]:
# 전국 매출액, 전국 관객수, 서울 매출액, 서울 관객수 컬럼 제거
m = m.drop(["전국 매출액", "전국 관객수", "서울 매출액", "서울 관객수"], axis=1)

In [118]:
# 개봉일에서 개봉월만 추출
m["개봉월"] = m["개봉일"].apply(lambda x: x.split("-")[1])

# 영화명, 개봉일 컬럼 삭제
m = m.drop(["영화명", "개봉일", "전국 매출액", "전국 관객수", "서울 매출액", "서울 관객수"], axis=1)

m

C:\Users\lbw\AppData\Local\Temp\ipykernel_22156\3257835544.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["개봉월"] = m["개봉일"].apply(lambda x: x.split("-")[1])

,감독,제작사,배급사,영화형태,국적,전국 스크린수,장르,등급,영화구분,개봉월
0,김한민,(주)빅스톤픽쳐스,(주)씨제이이엔엠,장편,한국,1587,사극,15세이상관람가,일반영화,07
1,이병헌,(주)어바웃잇영화사 해그림 주식회사(주)씨제이이엔엠,(주)씨제이이엔엠,장편,한국,1978,코미디,15세이상관람가,일반영화,01
2,김용화,리얼라이즈픽쳐스(주)(주)덱스터스튜디오,롯데쇼핑㈜롯데엔터테인먼트,장편,한국,1912,판타지,12세이상관람가,일반영화,12
3,윤제균,(주)제이케이필름(주)씨제이이엔엠,(주)씨제이이엔엠,장편,한국,966,드라마,12세이상관람가,일반영화,12
4,안소니 루소조 루소,마블 스튜디오,월트디즈니컴퍼니코리아 유한책임회사,장편,미국,2835,액션,12세이상관람가,일반영화,04
...,...,...,...,...,...,...,...,...,...,...
3956,제프 챈,XYZ 필름스,(주)팝엔터테인먼트,장편,기타,82,SF,15세이상관람가,일반영화,07
3959,진목승,텐센트 픽처스,(주)제이앤씨미디어그룹(주)씨네필운,장편,홍콩,60,액션,15세이상관람가,독립/예술영화,01
3963,로젠느 리앙,버티컬 엔터테인먼트,(주)제이앤씨미디어그룹,장편,미국,71,SF,15세이상관람가,일반영화,04
3965,김인식,(주)인디컴미디어,(유)조이앤시네마(주)제이앤씨미디어그룹,장편,한국,79,드라마,15세이상관람가,독립/예술영화,04
3972,아담 메이슨,플래티넘 듄스,그린나래미디어(주)(주)인터파크,장편,미국,61,스릴러,15세이상관람가,일반영화,08

In [113]:
# 영화형태, 국적, 장르, 등급, 영화구분 열을 더미 변수로 변환
dummy_columns = ["영화형태", "국적", "장르", "등급", "영화구분"]
m_dummy = pd.get_dummies(m[dummy_columns], prefix=dummy_columns)

# 더미 변수를 새로운 데이터프레임에 추가
m_new = pd.concat([m, m_dummy], axis=1)

# 기존의 영화형태, 국적, 장르, 등급, 영화구분 열 삭제
m_new.drop(dummy_columns, axis=1, inplace=True)

# 결과 확인
m_new

,감독,제작사,배급사,전국 스크린수,개봉월,영화형태_단편,영화형태_옴니버스,영화형태_장편,국적_기타,국적_독일,...,장르_어드벤처,장르_전쟁,장르_코미디,장르_판타지,등급_12세이상관람가,등급_15세이상관람가,등급_전체관람가,등급_청소년관람불가,영화구분_독립/예술영화,영화구분_일반영화
0,201,167,120,1587,07,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
1,931,278,120,1978,01,False,False,True,False,False,...,False,False,True,False,False,True,False,False,False,True
2,147,832,273,1912,12,False,False,True,False,False,...,False,False,False,True,True,False,False,False,False,True
3,898,436,120,966,12,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,True
4,739,844,329,2835,04,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3956,1164,661,209,82,07,False,False,True,True,False,...,False,False,False,False,False,True,False,False,False,True
3959,1261,1317,184,60,01,False,False,True,False,False,...,False,False,False,False,False,True,False,False,True,False
3963,357,900,182,71,04,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
3965,155,418,3,79,04,False,False,True,False,False,...,False,False,False,False,False,True,False,False,True,False
3972,717,1385,264,61,08,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True

In [ ]:
# 설명할 수 있는 분산의 비율이 90% 이상이 되는 주성분을 추출하도록 PCA 모델을 학습
pca = PCA(n_components=0.9)
pca.fit(m_new)

# 주성분 점수 추출
PC_scores = pca.transform(m_new)

In [97]:
def select_n_components(var_ratio, goal_var: float) -> int:
    total_variance = 0.0
    n_components = 0
    
    for explained_variance in var_ratio:
        total_variance += explained_variance
        n_components += 1
        if total_variance >= goal_var:
            break
    
    return n_components

# 위에서 계산한 주성분 분산 비율을 바탕으로 몇 개의 주성분을 선택할지 결정
n_components = select_n_components(pca.explained_variance_ratio_, 0.7)
print(n_components)

Number of components: 1

In [104]:
# DataFrame으로 변환
PC_m = pd.DataFrame(data=PC_scores, columns=[f"PC{i}" for i in n_components])

PC_m

ValueError: could not convert string to float: '김한민'

In [105]:
corr_matrix = PC_m.corr()
plt.matshow(corr_matrix, cmap="coolwarm")
plt.colorbar()
plt.show()

ValueError: could not convert string to float: '김한민'

In [11]:
m.to_csv("../../data/processed/KOBIS_개봉일람_3.csv", index=False)