In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
x = pd.read_csv("../../data/processed/KOBIS_개봉일람_3.csv")
y = pd.read_csv("../../data/processed/KOBIS_개봉일람_4.csv")

In [4]:
x

             감독        제작사 영화형태  국적  전국 스크린수   장르        등급     영화구분  개봉월
0     14.306190  12.886638   장편  한국     1587   사극  15세이상관람가     일반영화    7
1     15.172542  16.604523   장편  한국     1978  코미디  15세이상관람가     일반영화    1
2     15.714698  16.402393   장편  한국     1912  판타지  12세이상관람가     일반영화   12
3     15.908342  15.263750   장편  한국      966  드라마  12세이상관람가     일반영화   12
4     14.740589  15.240150   장편  미국     2835   액션  12세이상관람가     일반영화    4
...         ...        ...  ...  ..      ...  ...       ...      ...  ...
2324   7.217443   7.217443   장편  기타       82   SF  15세이상관람가     일반영화    7
2325   7.205635   7.205635   장편  홍콩       60   액션  15세이상관람가  독립/예술영화    1
2326   7.156956   8.649415   장편  미국       71   SF  15세이상관람가     일반영화    4
2327   7.770353   7.134891   장편  한국       79  드라마  15세이상관람가  독립/예술영화    4
2328   6.740519  11.194093   장편  미국       61  스릴러  15세이상관람가     일반영화    8

[2329 rows x 9 columns]

In [5]:
y

        전국 관객수
0     17613682
1     16264944
2     14410754
3     14245998
4     13934592
...        ...
2324      1362
2325      1346
2326      1282
2327      1254
2328       845

[2329 rows x 1 columns]